<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.mymath">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/launcher_ic_round"
        android:label="@string/application"
        android:roundIcon="@mipmap/launcher_ic_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="LockedOrientationActivity">
        <activity
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:name=".AnswerActivity"
            android:parentActivityName=".SecondActivity"/>
        <activity
            android:name=".SecondActivity"
            android:parentActivityName=".FirstActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"/>
        <activity
            android:name=".FirstActivity"
            android:parentActivityName=".InputMultySize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".InputMultySize"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".NInput"
            android:label="@string/input_title"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".DetActivity"
            android:label="@string/det"
            android:parentActivityName=".NInput"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>